.result{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.allHotel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-pen-to-square{
    color: green;
}
.fa-trash{
    color: red;
}
table td img{
    width: 190px !important;
    height: 120px !important;
}